body{
    background-color: black;
    /*Caracteristicas gerais*/
    user-select: none;

}
body::-webkit-scrollbar{
    display: none;
}

.seletor {
    font-size: 30px;
    margin: 120px 30px;
    color: white;                                   /*Definições gerais da Classe*/
    width: 20vw;
    height: 80vh ;
    border: 1px solid #202020;

    padding: 10px;
    
    overflow-y: scroll; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    
}
.seletor::-webkit-scrollbar {
    background-color: rgb(0, 0, 0);
                 /*Desativar parte visual da  barra de rolagem*/
}
.seletor::-webkit-scrollbar-thumb {
    background-color: rgb(19, 18, 18);
    border-radius: 10px;
    
                 /*Desativar parte visual da  barra de rolagem*/
}

.seletor label {
    border: solid 1px;
    border-radius: 9px;
    display: block;
    margin-bottom: 48px;
}

.seletor label:hover{
    color: #0d5510;
    background-color: rgb(7, 7, 7);
    cursor: pointer;
}

.seletor label input[type="checkbox"] {
    /* Oculta a caixa de seleção padrão */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Define o tamanho da caixa de seleção */
    width: 20px;
    height: 20px;
    /* Define a cor de fundo da caixa de seleção */
    background-color: #ffffff;
    /* Adiciona uma borda à caixa de seleção */
    border: 1px solid #99999900;
    /* Adiciona um espaçamento interno para que o conteúdo não fique muito próximo da borda */
    padding: 2px;
    position: relative;
    top: 3px;
}

.seletor label input[type="checkbox"]:checked {
    /* Define a cor de fundo da caixa de seleção quando clicada */
   transition: 0.4s;
   border-radius: 15px;
    background-color: #008a07; 
    
}

.seletor label input[type="checkbox"]:not(:checked) {
    /* Define a cor de fundo da caixa de seleção quando clicada */
   transition: 0.2s;
    /*Transição de cores e forma depois que clicado*/
    background-color: #ffffff; 
    
}

.seletor label input[type="checkbox"]::after {
    /* Conteúdo do símbolo (um "✔️") */
    content: "\2714"; /* Código Unicode do símbolo de certo */
    /* Posiciona o símbolo no centro da caixa de seleção */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Define a cor do símbolo */
    color: #ffffff; 
    /* Define o tamanho do símbolo */
    font-size: 16px; 
}
@font-face {
    font-family: Pixel;
    src: url(Pixeled.ttf);
}

#voltar{
    font-size: 15px;
    font-family: Pixel;
    text-decoration: none;
    position: absolute;
    left: 5vw;
    top: 3vh;
    padding: 20px 60px;
    background-color: black;
    border: solid;
    color: #ffffff;
}

#voltar:hover{
    color: #008a07;
    content: "V0lt@r";
    
}

/*William Colasso Pereira*/