body{
    background-color: black;
    
}



.seletor {
    font-size: 25px;
    margin: 30px;
    color: white;
    width: 300px;
    height: 650px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
}

.seletor label {
    display: block;
    margin-bottom: 10px;
}

.seletor label input[type="checkbox"] {
    /* Oculta a caixa de seleção padrão */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Define o tamanho da caixa de seleção */
    width: 20px;
    height: 20px;
    /* Define a cor de fundo da caixa de seleção */
    background-color: #ffffff;
    /* Adiciona uma borda à caixa de seleção */
    border: 0px solid #999;

    /* Adiciona um espaçamento interno para que o conteúdo não fique muito próximo da borda */
    padding: 2px;

    position: relative;
}

.seletor label input[type="checkbox"]:checked {
    /* Define a cor de fundo da caixa de seleção quando clicada */
   transition: 0.7s;
    border-radius: 15px;
    background-color: #00ff0d; /* Laranja, por exemplo */
    
}

.seletor label input[type="checkbox"]:not(:checked) {
    /* Define a cor de fundo da caixa de seleção quando clicada */
   transition: 0.7s;
    border-radius: 0px;
    background-color: #ffffff; /* Laranja, por exemplo */
    
}

.seletor label input[type="checkbox"]::before {
    /* Conteúdo do símbolo (um "✔️") */
    content: "\2714"; /* Código Unicode do símbolo de certo */
    /* Posiciona o símbolo no centro da caixa de seleção */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Define a cor do símbolo */
    color: #fff; /* Branco */
    /* Define o tamanho do símbolo */
    font-size: 16px; /* Tamanho do símbolo (ajuste conforme necessário) */
}