body{
    background-color: black;
    
}



.seletor {
    font-size: 25px;
    margin: 30px;
    color: white;
    width: 300px;
    height: 650px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
}

.seletor label {
    margin-bottom: 10px;
}