body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;

    .container {
        text-align: center;
    }
    
    #titulo {
        color: #1ccc33;
    }

    #botao1 {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #000000;
        color: #12a525;
        border: 2px solid #323b32; /* Adiciona uma borda azul escura */
        border-radius: 5px; /* Bordas arredondadas */
        transition: background-color 0.3s;
    }

    #botao2 {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #000000;
        color: #12a525;
        border: 2px solid #323b32; /* Adiciona uma borda azul escura */
        border-radius: 5px; /* Bordas arredondadas */
        transition: background-color 0.3s;
    }
    
    #botao1:hover {
        background-color: #12a525;
        color: #000000;
    }
    #botao2:hover {
        background-color: #12a525;
        color: #000000;
    }
}