body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Corrigido para zero */
}

.container {
    text-align: center;
}

@font-face {
    font-family: Pixel;
    src: url(Pixeled.ttf);
}

#titulo {
    font-family: Pixel; /*Definição da Fonte*/
    color: #1ccc33;
}

.botoes {
    text-decoration: none;/*Tirando o Sublinado dos botões*/
    font-family: Pixel; /*Fonte Pixel exportada e definida*/
    padding: 10px 20px; /*Avançar as bordas*/
    font-size: 16px;/*Aumentar tamanho da fonte*/
    cursor: pointer;/*Tipo de ponteiro que irá aparacer quando estiver com o mouse em cima*/
    background-color: #000000;
    color: #12a525;
    border: 2px solid #323b32; /* Adiciona uma borda verde escura */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s;
    margin: 5px; /* Adicionando margem para separar os botões */
}

.botoes:hover {
    background-color: #12a525;
    color: #000000;
}


.botoes{
    position: relative;

}
#botao1{
    position: relative;
}
#botao2{
    position: absolute;
    top: 300px;
}