body{
    background-color: black;
    
}

.caixa-rolagem{
    font-size: 20px;
    margin-top: 60px;
    margin-left: 25px;
    color: white;
    width: 375px;
    height: 650px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    overflow-y: scroll;
    
}
